.get-char {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .get-char-character {
    display: flex;
    background: #68ad54;
    color: #1d1f45;;
    width: 400px;
    margin: 10px 0px 10px 35px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 2px greenyellow;
    &:hover {
      cursor: pointer;
    }


    .get-char-character-left {
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
      }
      .get-char-episodes {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 400px;
        height: 20px;
      }
    }


    .get-char-character-right {
      position: relative;
      right: 200px;
      img {
        border-top-right-radius: 5px;
        border: 0.5px solid black;
        width: 200px;
        height: auto;
      }
    }
  }
}

